scipy==1.4.1
joblib
soundfile
otools
pandas
matplotlib
seaborn
nltk
spacy
sklearn
keras
sqlalchemy
numpy<1.19.0,>=1.16.0
psycopg2-binary
benedict
Theano
future
tensorflow==2.3.0
Gaugi
ipykernel
lofo-importance
pyarrow
ipykernel
kolmov
uproot4
saphyra
