scipy
joblib
soundfile
pandas
matplotlib
seaborn
nltk
spacy
sklearn
keras
sqlalchemy
numpy
psycopg2-binary
benedict
Theano
future
tensorflow
ipykernel
lofo-importance
pyarrow
ipykernel
uproot4
redis-pal
